.strike {
	text-decoration: line-through;
}

.error-msg {
	display: none;
}

textarea {
	resize: vertical;
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

#institution-tree-group ul {
	padding-left: 0;
}

#institution-tree-group li:before {
	content: "";
	width: 14px;
	border-bottom: 1px solid black;
	position: absolute;
	display: block;
	top: 11px;
	left: 0px;
}

#institution-tree-group li {
	position: relative;
	list-style-type: none;
	padding-left: 19px;
	border-left: 1px solid black;
}

#substitutions-list {
	margin-top: 15px;
}

#substitutions-list li {
	overflow: auto;
}

#exclusion-list-fixed-wrapper.affix{
	top: 20px;
	right: 0;
	/* Preserve right padding when position: fixed; */
	padding-right: 56px;
}
